body {
    background-color: #E7E8DD;
    padding: 0px;
} 

header {
    background-color: #96A087;
    position: absolute; 
    top: 0;
    left: 0;
    align-items: start;
    padding: 10px;
    margin: 0px;
    width: 375px;
}

header > img {
    float: left;
    margin-right: 40px;
}


#wrapper {
    width: 375px;
    height: 667px;
    padding: 0px;
}

article {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    width: 260px;
    margin: 130px 0px 0px 60px;
}

#article1 {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    width: 300px;
    margin: 130px 100px 30px 40px;
}

#article2 {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    width: 260px;
    margin: 20px 0px 0px 60px;
}

#article4 {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    width: 260px;
    margin-top: 110px;
    margin-left: 65px;
}
#welkomfoto {
    float: left;
    margin: 10px 0px 0px 10px;
    
}

#FO {
    margin-left: 65px;
}

#voorkant1 {
    margin-left: 105px;
}

#article6 {
    margin-left: 15px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace
}

#driefotos {
    margin-left: 2px;
}
nav {
    margin: 30px 0px 0px 45px;
    float: left;
}


footer {
    float: left;
    width: 400px;
    height: 55px;
    background-color: #96A087;
}


#welkomsfoto2 {
    float: left;
    margin: 15px;
}

h3 {
    width: 250px;
    float: left;
}

#article2 {
    margin-left: 75px;
    clear: both;
}

#stap1 {
    float: left;
    margin-right: 10px;
}

#stap2 {
    float: left;
    margin-right: 10px;
}

#stap3 {
    float: left;
    margin-right: 10px;
}

h1 {
    float: right;
    margin-right: 95px;
}


#HetFaireOosten {
    float: left;
    font-size: 18px;
}

#logofoto {
    float: left;
    margin-right: 30px;
}

#article7 {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 120px;
    margin-left: 10px;
}

#Stofadvies {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

#lijn {
    margin-left: 15px;
}

#Trui {
    margin-left: 10px;
    margin-top: 8px;
    float: left;
}

#Truien {
    float: left;
    padding-left: 35px;
    font-size: 15;
    font-family: 'Courier New', Courier, monospace;
}

#kruis {
    margin-top: 30px;
    margin-right: 270px;
    margin-left: 55px;
    float: left;
}

#truitekst {
    font-size: 12;
    font-family: 'Courier New', Courier, monospace;
    width: 250px;
    margin-left: 75px;
    float: left;
}

#vink {
    float: left;
    margin-left: 40px;
}

#truitekts2 {
    font-size: 12;
    font-family: 'Courier New', Courier, monospace;
    width: 250px;
    float: left;
    margin-left: 5px;
}

#Broek {
    margin-left: 50px;
    margin-top: 30px;
    float: left;
}

#Spijkerbroek {
    float: left;
    font-size: 15;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
    margin-top: 20px;
} 

#Broekentekst {
    font-size: 12;
    font-family: 'Courier New', Courier, monospace; 
    width: 250px;
    float: left;
    margin-left: 80px;
}

#Broekentekst2 {
    font-size: 12;
    font-family: 'Courier New', Courier, monospace;
    width: 250px;
    float: left;
    margin-left: 10px;
}

#Tas {
    float:left;
    margin-left: 50px;
    margin-top: 15px;
}

#tassen {
    margin-left: 10px;
    float: left;
    font-size: 15;
    font-family: 'Courier New', Courier, monospace;
}

#Tassentekst {
    float: left;
    margin-left: 80px;
    font-size: 12;
    font-family: 'Courier New', Courier, monospace; 
    width: 250px;
}

#Tassentekst2 {
    float: left;
    margin-left: 10px;
    font-size: 12;
    font-family: 'Courier New', Courier, monospace; 
    width: 250px;
}